---
import { cn } from '@/utils'

interface Props {
  class?: string
  sponsors: {
    name: string
    amount: string
    date: string
  }[]
}
const { class: className, sponsors, ...props } = Astro.props
---

<div class={cn('', className)} {...props}>
  <table class='w-full my-0'>
    <tr class='text-start'>
      <th class='text-center px-4 md:px-6 lg:px-8'>Name</th>
      <th class='text-center px-4 md:px-6 lg:px-8'>Amount</th>
      <th class='text-center px-4 md:px-6 lg:px-8'>Date</th>
    </tr>
    {
      sponsors.map((sponsor) => (
        <tr>
          <td class='text-center px-4 md:px-6 lg:px-8'>{sponsor.name}</td>
          <td class='text-center px-4 md:px-6 lg:px-8'>{sponsor.amount}</td>
          <td class='text-center px-4 md:px-6 lg:px-8'>{sponsor.date}</td>
        </tr>
      ))
    }
  </table>
</div>
