---
import type { HTMLAttributes } from 'astro/types'

import { cn, getFormattedDate } from '@/utils'

type Props = HTMLAttributes<'time'> & {
  date: Date
  dateTimeOptions?: Intl.DateTimeFormatOptions
  class?: string
}

const { date, dateTimeOptions, class: className, ...attrs } = Astro.props

let postDate = getFormattedDate(date, dateTimeOptions)
// If the string length is 11, add a space at the beginning
if (typeof postDate === 'string' && postDate.length === 11) {
  // Insert a '0' at index 4 of the string
  postDate = postDate.slice(0, 4) + '0' + postDate.slice(4)
}
---

<span class={cn('text-muted-foreground font-mono', className)} {...attrs}>
  <time datetime={date.toISOString()}>
    {postDate}
  </time>
</span>
