---

import { cn } from '@/utils'

const { class: className, interactive = false, ...props } = Astro.props
---

<div
  class={cn(
    'rounded-2xl border px-3 py-2',
    interactive && 'border-transparent transition-all hover:border-border hover:bg-muted',
    className
  )}
  {...props}
>
  <slot />
</div>
