---
import { cn } from '@/utils'

interface Props {
  class?: string
  events: {
    date: string
    content: string
  }[]
}

const { class: className, events, ...props } = Astro.props
---

<div class={cn('not-prose', className)} {...props}>
  <ol class='m-0 list-none space-y-1 ps-0'>
    {
      events.map((event, index) => (
        <li class='grid grid-cols-[1rem_minmax(0,1fr)] gap-x-3 py-2 sm:grid-cols-[12rem_1rem_minmax(0,1fr)] sm:gap-x-4'>
          <time class='col-start-2 mb-1 font-mono text-xs leading-7 text-muted-foreground sm:col-start-1 sm:row-start-1 sm:mb-0 sm:justify-self-end sm:text-right'>
            {event.date}
          </time>
          <div class='relative col-start-1 row-span-2 flex justify-center sm:col-start-2 sm:row-start-1 sm:row-span-1'>
            {index !== events.length - 1 && (
              <span class='absolute bottom-[-2rem] top-5 w-px bg-gradient-to-b from-border via-border to-transparent sm:bottom-[-1rem]' />
            )}
            <span class='relative mt-[0.5625rem] size-2.5 rounded-full border border-primary/45 bg-background ring-4 ring-background' />
          </div>
          <div class='col-start-2 min-w-0 leading-7 sm:col-start-3 sm:row-start-1'>
            <Fragment set:html={event.content} />
          </div>
        </li>
      ))
    }
  </ol>
</div>
