---
import { Icon } from 'astro-icon/components'

import { cn } from '@/utils'

interface SocialLink {
  href: string
  label: string
  icon: string
}

const { links, class: className } = Astro.props as { links: SocialLink[]; class?: string }
---

<div class={cn('flex transform-gpu items-center justify-center gap-x-1 sm:gap-x-2', className)}>
  {
    links.map((link) => (
      <a
        href={link.href}
        target='_blank'
        rel='noopener noreferrer'
        aria-label={link.label}
        class='text-muted-foreground hover:text-primary rounded-full p-2 transition-colors'
      >
        <Icon is:inline name={link.icon} class='block size-5 shrink-0 sm:size-6' />
      </a>
    ))
  }
</div>
