---
import { Icon } from 'astro-icon/components'

interface SocialLink {
  href: string
  label: string
  icon: string
}

const { links } = Astro.props as { links: SocialLink[] }
---

<div class='flex items-center justify-center gap-x-4 sm:gap-x-5'>
  {
    links.map((link) => (
      <a
        href={link.href}
        target='_blank'
        rel='noopener noreferrer'
        aria-label={link.label}
        class='text-muted-foreground transition-colors hover:text-primary'
      >
        <Icon is:inline name={link.icon} class='block size-5 sm:size-6' />
      </a>
    ))
  }
</div>
