---
import { Button } from '@/components/user'

const { title, skills, hrefs } = Astro.props
---

<div class='gap-x-18 flex flex-row md:gap-x-24'>
  <h3 class='w-36 flex-shrink-0 font-medium md:w-32'>{title}</h3>
  <div class='flex flex-1 flex-row flex-wrap gap-x-2 gap-y-1.5 md:gap-x-3'>
    {
      skills.map((skill: string, index: number) => (
        <Button as='a' href={hrefs && hrefs[index]} title={skill} style='pill' />
      ))
    }
  </div>
</div>
