---
import signature from "../../assets/signature.svg?raw"

interface Props {
  class?: string
}

const { class: className = "" } = Astro.props
const wrapperClass = ["signature-wrapper", className].filter(Boolean).join(" ")
---

<div class={wrapperClass} set:html={signature}></div>

<style>
  .signature-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .signature-wrapper :global(svg) {
    width: min(45%, 360px);
    height: auto;
  }
</style>
